eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}
    prefer-ip-address: true


logging:
  level:
    root: warn
    '[es.abelfgdeveloper]': info
    '[org.zalando.logbook]': trace
    
    
logbook:
  exclude:
    - /actuator/**